html {
  filter: invert(100%);
}
.edubarMenuitem.v2.active > .edubarSmartLink {
  background-color: #44bd32 !important;
}
.userTopDiv,
.userRozvrh,
.user-novyPrvok,
.userHomeOther,
.userTopDiv {
  color: black !important;
  background-color: rgb(244, 67, 54) !important;
}
.userRozvrh b,
.odpocitavanie span {
  color: black !important;
}
